:root {
    --fade-duration: 1s;
}

html, body {
    overflow-x: hidden;
}
body{
    position: relative
}

.introContainer {
    background: linear-gradient(270deg, #00b2ff 10%, #00569a 100%);
    height: 100vh;
}

#navbar {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.75);
}

.scrollIndicator {
    height: 50px;
    width: 30px;
    border: white solid 3px;
    border-radius: 50px;
}

#scrollArrow {
    transform: translate(0);
    animation: moveDown 2s ease-out infinite;
    animation-delay: 1s;
}

@keyframes moveDown {

    80% {
        transform: translate(0, 100%);
    }
}

#greeting {
    background-color: #F55C38;
    min-height: 300px;
    margin-bottom: -4px;
}


.fadeIn.start {
    animation: fade-in;
    animation-duration: var(--fade-duration);
}

.fadeIn {
    visibility: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

body {
    overflow-x: hidden;
}


#findMe {
    background-color: white;
    margin-bottom: -6px;
}

#portfolio {
    background-color: #069897;
}


#linkedin {
    background: linear-gradient(300deg, #0072b1 10%, #00569a 100%);
}

#email {
    background: linear-gradient(300deg, #eb5a4d 10%, #b44033 100%);
}

#github {
    background: linear-gradient(300deg, #363638 10%, #000000 100%);
}

.condenseRight {
    animation: reveal 0.5s forwards;
}

@keyframes reveal {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

.line {
    width: 10%;
    height: 3px;
    background-color: silver;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link {
    color: #4f2f9d;
    font-weight: 500;
}

.floaty-div:hover {
    animation-name: floaty-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes floaty-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}