.social-media-bar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.social-media-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-media-bar li {
    margin-bottom: 10px;
}

.social-media-bar li a {
    display: block;
    font-size: 24px;
    color: #000;
    padding: 10px;
}

.social-media-bar.expanded li a {
    padding: 10px 20px;
}

.content {
    padding: 20px;
}

.expand {
    height: 300px;
    background-color: #eee;
    margin-top: 20px;
}

#trees {
    transition: opacity 1s ease-in-out;
}

#svg-canvas {
    width: 400px;
    height: 400px;
}

#branches line,rect{
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
#branchesDown line{
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}



/*line, rect {*/
/*    opacity: 0;*/
/*}*/