
:root{
    --slide-duration: 60s;
    --start-top-offset: 0px;
    --end-top-offset: 0px;
    --start-left-offset: 0px;
    --end-left-offset: 0px;
    --height: 1000px;
    --anim-direction: alternate;
}

#portfolio-introduction {
    background-color: floralwhite;
    z-index: 2;
    position: relative;
    min-height: 400px
}

.dustie-image {
    width: 25%
}

.icon {
    color: white;
}

a > i.fa-brands {
    color: rgba(196, 194, 194, 0.55)
}

.layered-image {
    transform: matrix(0.27, -0.04, 0.21, 0.17, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.discord-bgcolor {
    background-color: #36393F;
}

@media (max-width: 768px) {
    .layered-image {
        max-width: 20%;
        height: auto;
        transform: matrix(0.53, -0.09, 0.26, 0.43, 0, 0);
    }
}

.layered-image.slide-right {
    animation: right-slide var(--slide-duration) ease-out infinite;
    animation-direction: var(--anim-direction)
}

@keyframes right-slide {
    0%, 2% {
        top: calc(-200% + var(--start-top-offset));
        left: calc(-175% + var(--start-left-offset));
    }
    98%, 100% {
        top: calc(50% + var(--end-top-offset));
        left: calc(20% + var(--end-left-offset));
    }
}

/*@media(prefers-reduced-motion: reduce){*/
/*    .layered-image.slide-right{*/
/*        animation: none*/
/*    }*/
/*}*/

.dustie-content {
    z-index: 2;
}

.dustie-content p {
    text-shadow: 2px 2px black;
}

.separator-box {
    background-color: #2a2c30;
    width: 100%;
    height: var(--height);
    margin-top: 300px;
    margin-bottom: 300px;
}