
:root{
    --slide-duration: 60s;
    --start-top-offset: -2500px;
    --end-top-offset: 200px;
    --start-left-offset: -3500px;
    --end-left-offset: 0px;
    --height: 1000px;
    --anim-direction: alternate;
}

#portfolio-introduction {
    background-color: floralwhite;
    z-index: 2;
    position: relative;
    min-height: 400px
}

.dustie-image {
    width: 25%
}

.icon {
    color: white;
}

a > i.fa-brands {
    color: rgba(196, 194, 194, 0.55)
}

.layered-image {
    transform: matrix(0.27, -0.04, 0.21, 0.17, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.discord-bgcolor {
    background-color: #36393F;
}

.layered-image.slide-right {
    animation: right-slide var(--slide-duration) ease-in-out infinite;
    animation-direction: var(--anim-direction)
}

.layered-image.slide-right.freeze{
    animation-play-state: paused
}


@keyframes right-slide {
    0%, 1% {
        transform: translate(var(--start-left-offset), var(--start-top-offset)) matrix(0.27, -0.04, 0.21, 0.17, 0, 0)
    }
    99%, 100% {
        transform: translate(var(--end-left-offset), var(--end-top-offset)) matrix(0.27, -0.04, 0.21, 0.17, 0, 0)
    }
}


.dustie-content {
    z-index: 2;
}

.dustie-content p {
    text-shadow: 2px 2px black;
}

.separator-box {
    background-color: #2a2c30;
    width: 100%;
    height: var(--height);
    margin-top: 300px;
    margin-bottom: 300px;
    transition: all ease 3s;
    transform-style: preserve-3d;
}
