.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.curve .shape-fill {
    fill: #F55C38;
}

.curve2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve2 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 157px;
}

.curve2 .shape-fill {
    fill: #FFFFFF;
}

.curveSection {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
    padding-top: 150px;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.spacer.dustie-layer{
    aspect-ratio: 960/96;
}

.dustie-layer{
    background-image: url('../images/waves/white-to-discord.svg')
}

.edge-layer{
    background-image: url('../images/waves/discord-to-edge.svg');
    aspect-ratio: 960/112.74;
}

.rating-layer{
    background-image: url('../images/waves/edge-to-rating.svg');
    aspect-ratio: 960/105;
}

.pandora-layer{
    background-image: url('../images/waves/rating-to-pandora.svg');
    aspect-ratio: 960/116;
}